body{
    font-family: sans-serif;
    padding-left: 60px;
    padding-right: 60px;
}

ul{
    list-style: none;
    display: flex;
    gap: 15px
}
.header{
    display: flex;
    justify-content: space-between;
}
.title{
    display: flex;
    justify-content: center;
}
.blocks{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.block{
    height: 100px;
    width: 100px;
    border: 2px solid #3882F6;
    border-radius: 20px;
}
.texts{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.texts p{
    width: 100px;
    height: 100px;
}

.blue{
    background-color: #3882F6;
    height: 150px;
    margin: 60px;
    border-radius: 10px;  
}

